
# Ignore Django migration files, except the __init__.py needed to mark the folder as a package
# Ignore Python bytecode and cache directories
__pycache__/
.pytest_cache/
.vscode/

# Ignore SQLite database file (only used in local development)
db.sqlite3

# Ignore all migrations in apps inside `api/`, except the __init__.py file
api/**/migrations/*.py
!api/**/migrations/__init__.py





