# This file tells Git which files and directories to ignore in this project.
# It prevents unnecessary files from being tracked in the repository.

# Ignore Python bytecode and cache directories
__pycache__/
.vscode/

# Ignore SQLite database file (only used in local development)
db.sqlite3

# Ignore Django migration files, except the __init__.py needed to mark the folder as a package
*/migrations/*
!*/migrations/__init__.py



